@import "./../../styles/variable.scss";

.sidebar-container {
    background: $dark-purple;
    width: 250px;
    height: 100vh;
    color: $light-gray;
    .sidebar-logo {
        font-weight: bold;
        font-size: 22px;
        top: 20px;
        height: 100px;
    }

    .username-container {
        background: $light-purple;
        min-height: 60px;
        width: 100%;
    }
}

body {
    background: $light-gray;
}